body {
    margin: 0;
    padding: 50px;
    font-size: 1.5rem;
    font-size: 18px;
    font-family: Roboto, sans-serif;
  }
  h1 {
    font-size: 3rem;
    color: rgb(85, 85, 85);
  }
  section {
    display: flex;
    margin-bottom: 4rem;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: flex-start;
    gap: 8rem;
  }
  img {
    max-height: 1000px;
    border-radius: 50px;
    padding-bottom: 0px;
  }  
  button {
    background-color: rgb(6, 6, 6);
    color: rgb(240, 243, 246);
    border-radius: 8px; 
    height: 50px;
    width: 200px;
    font-size: 18px;
  }

  .leftsidebar{
    background-color: black;
    height: 200px;
    width: 100px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
